/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.write {
  padding-top: 60px;
}

.writeImg {
  
  margin-left: 150px;
  width: 70%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70%;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  margin-left: 150px;
  width: 70%;
  height: 100%;
  font-family: inherit;
  font-size: 20px;
}

.writeSubmit {
  position: absolute;
  /* top: 20px; */
  /* right: 50px; */
  margin-left: 80px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* .my-3{
  margin-left: 150px;
  width: 70%;
  height: 100%;
} */

@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 768px) {
  
}
@media only screen and (max-width: 360px) {
  .writeText{
   margin: 0px;
  }
  .writeFormGroup {
   margin: 0px;
  }
}
@media only screen and (min-width: 420px) {
  .writeText{
    margin: 4rem;
   }
   .writeFormGroup {
    margin: 4rem;
   }
}