.carousel{
    padding-top: 40px;
    padding-left: 450px;
    
}
h1 {
  margin-top: 100px;

  text-align: center;
  color: #400032;
}

   img {
      height: 250px;
       width: 400px;
       border: 2px solid black;
      display: block;
      margin: auto;
      border-radius: 20px;
      
    }

       .slickk-arrow {
         color: black;
    }

        .slick-prev {
        z-index: 100;
        left: 20px !important;
    }
        .slick-next {
        z-index: 100;
        right: 20px !important;
    }
